<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
<<<<<<< HEAD
          <h5 class="card-title">job</h5>
          <p>
            <strong>ID</strong>: {{job.job_id}}</p>
=======
          <h1 class="card-title">Job Trax Logged Information</h1>
          {{!-- <p>
            <strong>ID</strong>: {{example.id}}
          </p> --}}
          <p>
            <strong>Text</strong>: {{example.text}}
          </p>
>>>>>>> 8eb902a335583666a74797de242016becdd48411
          <p>
            <strong>Company</strong>: {{example.description}}
          </p>
          <p>
            <strong>URL</strong>: {{example.url}}
          </p>
          <p>
            <strong>Action Date:</strong> {{example.actionDate}}
          </p>

          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Call
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Interview
              </button>
            </div>
          </div>

          <h3>Job Trax Time Log:</h3>
          <hr />
          {{!-- <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>