<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="card-title">Job TraX Log Information</h1>
          <hr />
          <p>
            <strong>Title</strong>: {{job.title}}
          </p>
          <p>
            <strong>Company</strong>: {{job.company}}
          </p>
          <p>
            <strong>Job Details URL: </strong><a href="https://{{job.description}}"> {{job.title}}</a>
          </p>
          <p>
            <strong>Action Date: {{job.close_by}} </strong>
          </p>

          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button id="email-button" type="button" class="btn btn-default btn-md" value="{{job.job_id}}">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email
              </button>
            </div>
            <div class="btn-group" role="group">
              <button id="phone-button" type="button" class="btn btn-default btn-md" value="{{job.job_id}}">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Call
              </button>
            </div>
            <div class="btn-group" role="group">
              <button id="interview-button" type="button" class="btn btn-default btn-md" value="{{job.job_id}}">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Interview
              </button>
            </div>
          </div>

         <h3>Job TraX Time Log:</h3>
          <ul class="list-group">
            {{#each action}}
            <li data-id="{{this.action_type}}" class="btn btn-light float-left actionFloat"><strong>{{this.action_type}}</strong>   |    {{this.updatedAt}}

              <button id ="{{this.job_action_id}}" class="btn btn-danger float-right jobActionDelete">ｘ</button>
            </li>

            {{/each}}
          </ul>
          <hr />
          <a class="backto" href="/index">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="/js/jobs.js"></script>