<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="card-title">Job TraX Log Information</h1>
          <hr />
          <p>
            <strong>Title</strong>: {{job.title}}
          </p>
          <p>
            <strong>Company</strong>: {{job.company}}
          </p>
          <p>
            <strong>Job Details URL: </strong><a href={{job.description}}> {{job.title}}</a>
          </p>
          <p>
            <strong>Action Date: {{job.close_by}} </strong>
          </p>

          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary btn-default btn-md">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> EMAIL
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary btn-default btn-md">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> CALL
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary btn-default btn-md">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> INTERVIEW
              </button>
            </div>
          </div>

          <h3>Job TraX Time Log:</h3>
          <p>
            {{#each action}}
            <li>{{this.action_type}}</li>
            <li>{{this.comments}}</li>
            <li>{{this.updatedAt}}</li>
            {{/each}}
          </p>
          <hr />
          <a class="backto" href="/index">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>